// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: #ebeff2;
}

//.navbar {
//  background-color: #68a4c6!important;
//  div, a, ul, li, * {
//    color: white!important;
//  }
//  .dropdown-toggle {
//    background-color: #68a4c6!important;
//  }
//}

/* Loadingscreen */
#loading_screen {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
  position: fixed;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.35);
  background-position: center center;
  background-image: url(../images/loading.svg);
}

/* Success message */
#success-message {
  left: 0;
  top: 70px;
  width: 100%;
  padding: 0 5%;
  z-index: 9999;
  margin: 0 auto;
  position: absolute;
}

.glyphicon-refresh-animate {
  animation: spin2 1.0s infinite linear;
  -webkit-animation: spin2 1.0s infinite linear;
}
@-webkit-keyframes spin2 {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

/* Table */
.table {
  width: auto;
  display: block;
  padding: 0 15px;
  text-align: center;
  background-color: white;
  .table_header {
    color: white;
    height: 30px;
    padding: 3px 5px;
    font-weight: normal;
    background-color: #9f9f9f;
    div {
      padding: 0;
    }
  }

  #factuur_layers .table_layer > div {
    padding: 0;
  }

  #fackosten_layers {
    padding: 0 5px;
  }

  #fackosten_layers .table_layer > div {
    padding: 0;
  }

  .table_layer {
    border-bottom: 1px solid #dddddd;
  }

  .table_col {
    padding: 3px 5px;
    word-wrap: break-word;
  }
}

/* Dashboard pagina */
#dashboard {
  .modal {
    .modal-body {
      float: left;
      width: 100%;
    }

    .abbo-box {
      margin-bottom: 15px;
    }

    table {
      border: 1px solid black;
      border-collapse: collapse;
      td, th {
        padding: 5px;
        border: 1px solid black;
      }
      .abbo-header {
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
      }

      .user-id {
        text-align: right;
      }
    }
  }

  .dashboard-div {
    margin-bottom: 15px;
    padding: 0 7.5px;
    > div {
      height: 100%;
      padding: 15px;
      min-height: 160px;
      background-color: white;
      //box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.6);
      //-moz-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.6);
      //-webkit-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.6);
    }
    .dashboard-header {
      margin-top: 0;
      text-align: center;
    }
    .dashboard-users, .dashboard-user-count {
      button {
        float: right;
      }
      .user-count-num {
        text-align: right;
      }
      .sub-count-p {
        margin: 0;
        width: 100%;
        display: none;
        padding: 0 15px;
        text-align: right;
      }
      a:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

/* User pagina */
#user {
  .modal {
    .modal-body {
      float: left;
      width: 100%;
    }
  }

  .more_left, .more_right {
    display: none;
  }

  #urenkm_saved {
    padding-right: 5px;
  }

  .save_user {
    margin-top: 10px;
  }

  .page_number {
    font-size: 18px;
    span {
      font-weight: bold;
    }
  }

  label {
    margin: 0;
    padding: 6.8px 0;
  }

  .field {
    padding: 0 15px 5px 0;
    > div {
      padding: 0 0 0 15px;
    }
    &:nth-child(even) {
      padding: 0 0 5px 0;
    }
  }
  
  input[type=submit] {
    float: right;
  }

  .inputs {
    display: inline-block;
  }

  .side-text {
    font-size: 16px;
  }

  .tab-content {
    padding-top: 15px;
  }

  .page_list {
    display: table;
    margin: 0 auto;
  }

  .empty-alert {
    font-size: 18px;
    text-align: center;
  }

  h3 {
    margin-top: 0;
    text-decoration: underline;
  }

  .kosten-error {
    display: none
  }

  .urenkm-error {
    display: none
  }
}

/* Factuurpagina */
#factuur {
  .factuur_layer {
    padding: 0 0 5px 0;
    label {
      padding: 6.8px 5px 6.8px 0;
      text-align: right;
      margin: 0;
    }
    @media screen and (min-width: 0px) and (max-width: 767px) {
      label {
        text-align: left;
      }
    }
    > div {
      padding: 0;
    }
    input[type=button] {
      height: 36px;
    }
  }

  .changes-text {
    color: red;
    margin: 0;
    display: none;
  }

  .modal-body {
    float: left;
    width: 100%;
    .factuur_layer {
      padding: 0;
    }
  }

  .save_factuur {
    float: right;
  }

  .fackosten-head {
    margin-top: 0;
  }

  .fackosten-add {
    width: 100%;
  }

  .fackosten-error {
    display: none;
  }

  #add-new-row {
    display: none;
    > label, > div {
      padding: 0;
      margin-bottom: 5px;
    }

    button {
      float: right;
      margin-bottom: 5px;
    }
  }
}

#betalingen_i {
  .table, .payments-no, .payments-yes {
    display: none;
    margin-top: 0;
    text-align: center;
  }
}

#adresboek {
  padding: 0;
  .element {
    padding: 0;
    overflow: hidden;
    position: relative;
    background-color: #fefefe;
    .element-header {
      height: 50px;
      padding: 12.5px;
      position: relative;
      background-color: #68a4c6;
      h2 {
        color: white;
        font-size: 18px;
        font-weight: 100;
        position: absolute;
        margin: 2.5px 0 0 0;
        text-transform: capitalize;
      }
      input {
        width: 0;
        margin: 0;
        border: none;
        float: right;
        height: 25px;
        color: white;
        font-size: 12px;
        padding: 0 12.5px;
        text-indent: 300px;
        border-radius: 80px;
        transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -webkit-transition: .25s ease-in-out;
      }
      .inner-addon {
        position: relative;
      }
      .inner-addon .glyphicon {
        padding: 10px;
        position: absolute;
        pointer-events: none;
      }
      .right-addon .glyphicon {
        right: 0;
        padding: 4px 5px 0 0;
      }
      input:focus + * {
        display: none;
      }
      input:focus {
        width: 100%;
        text-indent: 0;
        color: #858585;
        text-align: left;
        padding: 0 11px 0 22px;
      }
    }
    .element-content {
      overflow: hidden;
      position: relative;
      .element-sidebar {
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        width: 17px;
        padding-top: 3px;
        text-align: center;
        position: absolute;
        background-color: #bfbfbf;
        a {
          color: #ffffff;
          display: block;
          font-size: 11px;
          line-height: 14px;
          text-decoration: none;
        }
        a:hover {
          font-weight: bold;
          transition: .1s ease-in-out;
          -webkit-transform: scale(1.6);
          -o-transition: .1s ease-in-out;
          -moz-transition: .1s ease-in-out;
          -webkit-transition: .1s ease-in-out;
        }
      }
      .list {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 386px;
        overflow: auto;
        padding-right: 17px;
        box-sizing: content-box;
        li {
          margin: 5px;
          background-color: #ebeff2;
          a, a:hover {
            margin: 0;
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
          }
          .user_name {
            padding: 8px;
            color: #727272;
            display: block;
            cursor: pointer;
            font-size: 13px;
            font-weight: bold;
            text-decoration: none;
            a, a:hover, a:focus {
              color: inherit;
            }
          }
          .user_email {
            display: block;
            color: #b5b5b5;
            font-size: 11px;
            font-weight: normal;
            text-decoration: none;
          }
          .selected {
            border-left: 5px solid #bbbbbb;
          }
          :hover {
            background-color: #e0e4e7;
          }
        }
      }
      .contact_buttons {
        width: calc(100% - 16px);
      }
    }
  }
}
// Card
@media screen and (min-width: 0px) and (max-width: 767px) {
  #card {
    margin-top: 30px;
  }

  #card-inputs {
    margin: 0 auto;
  }

  ul {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #card {
    margin-top: 30px;
  }
  #card-inputs {
    ul {
      width: 203.124px;
    }
  }
}


#card {
  float: right;
  display: none;
  padding: 15px;
  min-height: 300px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  border: 3px solid #cdcdcd;
  -webkit-border-radius: 15px;
  //background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
  //background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
  //background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
  //background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
  //background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
  //background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
  //filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);

  .card-head {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .loading-text {
    display: none;
    text-align: center;
  }

  ul {
    margin: 0;
    padding-left: 0;
     list-style: none;
  }

  .glyphicon-user {
    padding: 0;
    font-size: 145px;
  }

  #card-text {
    .small-info {
      padding: 15px;
      span {
        float: right;
      }
      p {
        margin: 0;
      }
    }
  }

  .edit-user {
    right: 0;
    bottom: 0;
    margin: 15px;
    position: absolute;
  }

  label, ul li:nth-last-child(1) input {
    margin: 0;
  }
}